<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipboardMonitorLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ClipboardMonitorLite.Properties.Settings>
            <setting name="UseWhiteIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTimeUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationTimeout" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClearClip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClsTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoClsType" serializeAs="String">
                <value>minutes</value>
            </setting>
            <setting name="OpenWithWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AppendFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteInRealTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplaceFile" serializeAs="String">
                <value>True</value>
            </setting>
        </ClipboardMonitorLite.Properties.Settings>
    </userSettings>
</configuration>